STACK/.vscode
LAB TASKS/.vs
LAB TASKS/x64
LAB TASKS/08-11-24.cpp
LAB TASKS/ABDULLAH-04072313020.cpp
LAB TASKS/LAB TASKS.cpp
LAB TASKS/LAB TASKS.sln
LAB TASKS/LAB TASKS.vcxproj
LAB TASKS/LAB TASKS.vcxproj.filters
LAB TASKS/LAB TASKS.vcxproj.user
LAB TASKS/x64/Debug/
LAB TASKS/forward_list.Help
LAB TASKS/LAB TASKS
LAB TASKS/list.h
LAB TASKS/newData.txt
LAB TASKS/main.cpp
LAB TASKS/forward_list.h

MIDTERM-FALL_24/x64
MIDTERM-FALL_24/.vs
MIDTERM-FALL_24/MIDTERM-FALL_24.cpp
MIDTERM-FALL_24/MIDTERM-FALL_24.vcxproj
MIDTERM-FALL_24/MIDTERM-FALL_24.vcxproj.filters
MIDTERM-FALL_24/MIDTERM-FALL_24.vcxproj.user
MIDTERM-FALL_24/MIDTERM-FALL_24.sln
MIDTERM-FALL_24/MIDTERM-FALL_24/
MIDTERM-FALL_24/DS-Assignment no 1 part B.cpp
MIDTERM-FALL_24/Ointments.dat
MIDTERM-FALL_24/ProductCodes.dat
MIDTERM-FALL_24/Syrups.dat
MIDTERM-FALL_24/Tablets.dat

DS-THEORY/.vs
DS-THEORY/x64
DS-THEORY/DS-THEORY/
DS-THEORY/DS-THEORY.cpp
DS-THEORY/DS-THEORY.sln
DS-THEORY/DS-THEORY.vcxproj
DS-THEORY/DS-THEORY.vcxproj.filters
DS-THEORY/DS-THEORY.vcxproj.user

DS-ASSIGN-NO-3/.vs
DS-ASSIGN-NO-3/x64
DS-ASSIGN-NO-3/info/
DS-ASSIGN-NO-3/info.sln
DS-ASSIGN-NO-3/info.vcxproj
DS-ASSIGN-NO-3/info.vcxproj.filters
DS-ASSIGN-NO-3/info.vcxproj.user
DS-ASSIGN-NO-3/Codes.dat
DS-ASSIGN-NO-3/Fruits.dat
DS-ASSIGN-NO-3/FruitList.csv
DS-ASSIGN-NO-3/Help.txt
DS-ASSIGN-NO-3/04072313020-Abdullah.zip

ConsoleApplication1/

DS-ASSIGN-NO-4/.vs/
DS-ASSIGN-NO-4/x64/
DS-ASSIGN-NO-4/Assignment 4.sln
DS-ASSIGN-NO-4/Assignment 4.vcxproj
DS-ASSIGN-NO-4/Assignment 4.vcxproj.filters
DS-ASSIGN-NO-4/Assignment 4.vcxproj.user
DS-ASSIGN-NO-4/Assignment-4.exe
DS-ASSIGN-NO-4/dummy.txt
DS-ASSIGN-NO-4/File.txt
DS-ASSIGN-NO-4/StopWords.txt
DS-ASSIGN-NO-4/Assignment-4.cpp
DS-ASSIGN-NO-4/Assignment-4/
DS-THEORY/Abdullah-10-01-25.cpp





