STACK/.vscode
DS Assignment no 1 (24)/book.csv
DS Assignment no 1 (24)/Book1.csv.xlsx
DS Assignment no 1 (24)/Data.dat
DS Assignment no 1 (24).sln
DS Assignment no 1 (24).vcxproj
DS Assignment no 1 (24).vcxproj.filters
DS Assignment no 1 (24).vcxproj.user
DS Assignment no 1 (24)/nxs.csv
DS Assignment no 1 (24)/CSVread.cpp
DS Assignment no 1 (24)/.vs
DS Assignment no 1 (24)/DS Assig.512fd391
DS Assignment no 1 (24)/x64

