.vs
D:\DS FALL 24\FileHandling10-24\FileHand.f29ff4da
D:\DS FALL 24\FileHandling10-24\x64
D:\DS FALL 24\FileHandling10-24\FileHand.f29ff4da\x64
D:\DS FALL 24\FileHandling10-24\FileHand.f29ff4da\x64\Debug
D:\DS FALL 24\FileHandling10-24\FileHandling10-24.sln
D:\DS FALL 24\FileHandling10-24\FileHandling10-24.vcxproj
D:\DS FALL 24\FileHandling10-24\FileHandling10-24.vcxproj.filters
D:\DS FALL 24\FileHandling10-24\FileHandling10-24.vcxproj.user